<div id="nav">
<p class="logotext">NeXtar</p>
	<ul class="navlinks">
		<li><a href="#page1" id="mission" target="_self">Mission</a></li>
		<li><a href="#page2" id="triumph" target="_self">Triumph</a></li>
		<li><a href="#page3" id="data" target="_self">Projection</a></li>
		

	</ul>
</div>


<!-- Maybe create a transparent div that is at the bottom/top of the page and fade in and out when hovered for additional page nav that when clicked scrolls the page up or down-->
	<div id="page1" class="pages">
		<h1 class="header">Mission</h1>
			<div class="pageContentleft">
				<button ng-click="RoverShow = !RoverShow">Rover</button>.
					<div class="imagewrap"><img class="nasapotd" src="{{test2}}"><i ng-click="ScrollRight" class="arrow right"></i></div>
						<div ng-show="RoverShow">
							<select ng-model="curCam" ng-change="rovercam()"> <!-- passing the $index directive into the function, figure out why this is broken -->
								<option>Select Rover Camera</option>

						<option ng-repeat="cam in cams" value="{{cam.code}}">{{cam.name}}</option>
</select>
{{curCam}}
	<input value="{{yyyy}}" ng-model="yyyy">{{yyyy}}</input>
		<input value="{{mm}}" ng-model="mm">{{mm}}</input>
			<input value="{{dd}}" ng-model="dd">{{dd}}</input>
				</div>
					<button ng-click="testfunc()">button</button>
					<button ng-click="anotherAPICall()">Get Rover Photo</button>
					<button>button</button>

				</div>
			<div class="pageContentright">
					<p>Some writing goes here bla bla bla</p>
				</div>
		</div>
	<div id="page2" class="pages">
		<h1 class="header">Triumph</h1>
			</div>
	<div id="page3" class="pages">
		<h1 class="header">Projection</h1>
	</div>
